@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.about {

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: rem(80) 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 25%;
      border-radius: var(--radius-larger);
      background-image: url("../images/home/about.jpg");
      @include cover-background;
    }

    &--approach {
      &::before {
        background-image: url('../images/about/approach.jpg');
      }
    }

    &--reverse {
      justify-content: flex-start;
      padding: rem(80) 0 0;

      &::before {
        inset: 0 0 0 20%;
        transform: translateY(rem(-80));
      }

      @include media(tablet-wide) {
        padding: rem(80) 0;

        &::before {
          transform: none;
        }
      }

      @include media(mobile-m) {
        &::before {
          left: 0;
        }
      }
    }

    @include media(mobile-m) {
      justify-content: center;
      padding: rem(80) 24px;

      &::before {
        right: 0;
      }
    }
  }

  &__box {
    position: relative;
    z-index: 1;
    max-width: 484px;
    width: 100%;
    padding: 48px;
    background-color: var(--color-cream-300);
    border-radius: var(--radius-main);

    @include media(mobile-s) {
      padding: 20px;
    }
  }

  h2 {
    color: var(--color-brown-700);
    margin-bottom: 32px;
  }

  p {
    margin-bottom: 32px;
    line-height: 1.35;

    @include media(mobile-s) {
      font-size: 16px;
    }
  }

  &--reverse {
    padding: rem(calc(80 * 2)) 0 rem(86);

    @include media(tablet-wide) {
      padding: rem(86) 0;
    }
  }
}