@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.about {

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: rem(80) 0;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 20%;
      border-radius: var(--radius-larger);
      background-image: url("../images/home/about.jpg");
      @include cover-background;

    }
  }

  &__box {
    position: relative;
    z-index: 1;
    max-width: 484px;
    width: 100%;
    padding: 48px;
    background-color: var(--color-cream-300);
    border-radius: var(--radius-main);
  }

  h2 {
    color: var(--color-brown-700);
    margin-bottom: 32px;
  }

  p {
    margin-bottom: 32px;
  }
}