 ///* stylelint-disable declaration-no-important */
 @use "../utils/functions/"as*;
 @use "../utils/mixins"as*;

 .btn {
   display: block;
   min-width: fit-content;
   padding: 9px  20px;
   color: var(--color-brown-400);
   text-transform: capitalize;
   border: 2px solid var(--color-brown-400);
   border-radius: var(--radius-main);
   background-color: transparent;
   transition-property: background-color, color, border-color;
   transition-duration: 0.4s;
   max-width: fit-content;

   &:hover,
   &:focus,
   &:active,
   &--reverse {
     color: var(--color-white);
     background-color: var(--color-brown-400);
   }

   &--higher {
     padding: 16px 20px;
   }

   &--link {
     border: none;
     border-bottom: 2px solid transparent;
     padding: 0;
     border-radius: 0;
     font-size: clamp(18px, 1rem + 1vi, 20px);
     line-height: 1.6;
     letter-spacing: rem(0.1);

     &:hover {
       border-bottom: 2px solid var(--color-brown-400);
       background-color: transparent;
       color: var(--color-brown-400);
     }
   }

   &--send {
     max-width: 100%;
     background-color: var(--color-brown-500);
   }

   &--reverse {
     &:hover,
     &:focus,
     &:active {
       color: var(--color-brown-400);
       background-color: transparent;
     }
   }

   &--arrow {
     position: relative;
     padding: 15.5px 130px 15.5px 88.5px;

     &::after {
       content: "";
       position: absolute;
       top: 50%;
       right: 88.5px;
       width: 26px;
       height: 17px;
       transform: translateY(-50%);
       background-image: url("data:image/svg+xml,%3Csvg width='27' height='17' viewBox='0 0 27 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.424803 8.5C0.424803 8.24955 0.522627 8.00936 0.696756 7.83227C0.870886 7.65518 1.10706 7.55569 1.35331 7.55569H23.2532L17.4091 1.61408C17.3228 1.52628 17.2543 1.42205 17.2076 1.30733C17.1609 1.19262 17.1368 1.06967 17.1368 0.945505C17.1368 0.821339 17.1609 0.69839 17.2076 0.583676C17.2543 0.468962 17.3228 0.36473 17.4091 0.276932C17.4955 0.189133 17.598 0.119488 17.7108 0.0719723C17.8236 0.0244563 17.9444 0 18.0665 0C18.1886 0 18.3095 0.0244563 18.4223 0.0719723C18.5351 0.119488 18.6376 0.189133 18.7239 0.276932L26.152 7.83143C26.2385 7.91914 26.3071 8.02335 26.3539 8.13808C26.4007 8.2528 26.4248 8.37579 26.4248 8.5C26.4248 8.62421 26.4007 8.7472 26.3539 8.86192C26.3071 8.97665 26.2385 9.08085 26.152 9.16857L18.7239 16.7231C18.6376 16.8109 18.5351 16.8805 18.4223 16.928C18.3095 16.9755 18.1886 17 18.0665 17C17.9444 17 17.8236 16.9755 17.7108 16.928C17.598 16.8805 17.4955 16.8109 17.4091 16.7231C17.3228 16.6353 17.2543 16.531 17.2076 16.4163C17.1609 16.3016 17.1368 16.1787 17.1368 16.0545C17.1368 15.9303 17.1609 15.8074 17.2076 15.6927C17.2543 15.578 17.3228 15.4737 17.4091 15.3859L23.2532 9.44431H1.35331C1.10706 9.44431 0.870886 9.34482 0.696756 9.16773C0.522627 8.99064 0.424803 8.75045 0.424803 8.5Z' fill='%239B6B43'/%3E%3C/svg%3E%0A");;
       @include cover-background;
       transition: background-image 0.4s ease-in-out;
     }

     &:hover::after {
       background-image: url("data:image/svg+xml,%3Csvg width='27' height='17' viewBox='0 0 27 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.424803 8.5C0.424803 8.24955 0.522627 8.00936 0.696756 7.83227C0.870886 7.65518 1.10706 7.55569 1.35331 7.55569H23.2532L17.4091 1.61408C17.3228 1.52628 17.2543 1.42205 17.2076 1.30733C17.1609 1.19262 17.1368 1.06967 17.1368 0.945505C17.1368 0.821339 17.1609 0.69839 17.2076 0.583676C17.2543 0.468962 17.3228 0.36473 17.4091 0.276932C17.4955 0.189133 17.598 0.119488 17.7108 0.0719723C17.8236 0.0244563 17.9444 0 18.0665 0C18.1886 0 18.3095 0.0244563 18.4223 0.0719723C18.5351 0.119488 18.6376 0.189133 18.7239 0.276932L26.152 7.83143C26.2385 7.91914 26.3071 8.02335 26.3539 8.13808C26.4007 8.2528 26.4248 8.37579 26.4248 8.5C26.4248 8.62421 26.4007 8.7472 26.3539 8.86192C26.3071 8.97665 26.2385 9.08085 26.152 9.16857L18.7239 16.7231C18.6376 16.8109 18.5351 16.8805 18.4223 16.928C18.3095 16.9755 18.1886 17 18.0665 17C17.9444 17 17.8236 16.9755 17.7108 16.928C17.598 16.8805 17.4955 16.8109 17.4091 16.7231C17.3228 16.6353 17.2543 16.531 17.2076 16.4163C17.1609 16.3016 17.1368 16.1787 17.1368 16.0545C17.1368 15.9303 17.1609 15.8074 17.2076 15.6927C17.2543 15.578 17.3228 15.4737 17.4091 15.3859L23.2532 9.44431H1.35331C1.10706 9.44431 0.870886 9.34482 0.696756 9.16773C0.522627 8.99064 0.424803 8.75045 0.424803 8.5Z' fill='white'/%3E%3C/svg%3E%0A");;
     }
   }

   &__items {
     display: flex;
     justify-content: space-between;
     align-items: center;
     max-width: 400px;
     width: 100%;
     margin: 0 auto;
   }

   &__slider {
     position: relative;
     top: 0;
     left: auto;
     right: auto;
     bottom: 0;
     width: clamp(42px, 2.5rem + 2vi, 64px);
     height: clamp(42px, 2.5rem + 2vi, 64px);
     margin: 0;
     background-color: var(--color-brown-500);
     border-radius: var(--radius-medium);

     &::before {
       content: '';
       width : 26px;
       height: 17px;
       background-image: url("data:image/svg+xml,%3Csvg width='27' height='18' viewBox='0 0 27 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.924803 9C0.924803 8.74955 1.02263 8.50936 1.19676 8.33227C1.37089 8.15518 1.60706 8.05569 1.85331 8.05569H23.7532L17.9091 2.11408C17.8228 2.02628 17.7543 1.92205 17.7076 1.80733C17.6609 1.69262 17.6368 1.56967 17.6368 1.4455C17.6368 1.32134 17.6609 1.19839 17.7076 1.08368C17.7543 0.968962 17.8228 0.86473 17.9091 0.776932C17.9955 0.689133 18.098 0.619488 18.2108 0.571972C18.3236 0.524456 18.4444 0.5 18.5665 0.5C18.6886 0.5 18.8095 0.524456 18.9223 0.571972C19.0351 0.619488 19.1376 0.689133 19.2239 0.776932L26.652 8.33143C26.7385 8.41914 26.8071 8.52335 26.8539 8.63808C26.9007 8.7528 26.9248 8.87579 26.9248 9C26.9248 9.12421 26.9007 9.2472 26.8539 9.36192C26.8071 9.47665 26.7385 9.58085 26.652 9.66857L19.2239 17.2231C19.1376 17.3109 19.0351 17.3805 18.9223 17.428C18.8095 17.4755 18.6886 17.5 18.5665 17.5C18.4444 17.5 18.3236 17.4755 18.2108 17.428C18.098 17.3805 17.9955 17.3109 17.9091 17.2231C17.8228 17.1353 17.7543 17.031 17.7076 16.9163C17.6609 16.8016 17.6368 16.6787 17.6368 16.5545C17.6368 16.4303 17.6609 16.3074 17.7076 16.1927C17.7543 16.078 17.8228 15.9737 17.9091 15.8859L23.7532 9.94431H1.85331C1.60706 9.94431 1.37089 9.84482 1.19676 9.66773C1.02263 9.49064 0.924803 9.25045 0.924803 9Z' fill='white'/%3E%3C/svg%3E%0A");
       @include cover-background;
     }

     &.btn--prev::before {
       transform: rotate(180deg);
     }
   }

   &__pagination {
     position: static;
     max-width: fit-content;
     margin-top: 8px;

     *[class].swiper-pagination-bullet {
       width: 16px;
       height: 16px;
       background-color: var(--color-brown-500);
       opacity: 0.5;

       &:not(:last-child) {
         margin: 0 15px 0 0;
       }

       &-active {
         opacity: 1;
       }
     }
   }
 }