@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.hero {
  $root: &;
  padding: 0;

  &__inner {
    display: flex;
    align-items: center;
    min-height: 646px;
    padding: rem(60) 0;
    @include cover-background;
  }

  &__content {
    max-width: 597px;
    width: 100%;
  }

  h1 {
    margin-bottom: 18px;

    &.hero__title {
      margin-bottom: 48px;
    }
  }

  p {
    margin-bottom: 48px;
    line-height: 1.5;
    color: var(--color-brown-500);
  }

  @include media(mobile-l) {
    &--project {
      .hero__inner {
        min-height: 300px;
      }

      .hero__content {
        p {
          font-weight: var(--fw-500);
        }
      }
    }
  }
}