@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.projects {
  $root: &;
  padding: rem(112) 0 rem(136);

  h2 {
    margin: 0 auto rem(64);
  }

  &__wrapper {
    margin-bottom: rem(64);
  }

  &__slide {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    transition: scale 0.6s ease-in-out;

    &.swiper-slide-next,
    &.swiper-slide-prev {
      scale: 0.6;
      opacity: 0.4;
    }

    &.swiper-slide-prev {
      translate: 35% -5%;
    }

    &.swiper-slide-next {
      translate: -35% -5%;
    }
  }

  &__image {
    max-width: 1128;
    width: 100%;
    margin-bottom: rem(64);
    border-radius: var(--radius-larger);
    height: 574px;
  }

  &__title {
    margin-bottom: 24px;
    font-size: clamp(20px, 1rem + 2vi, 30px);
  }

  &__add {
    margin-bottom: rem(64);
    font-size: clamp(18px, 1rem + 2vi, 24px);
  }

  &__title,
  &__add {
    max-width: 845px;
    width: 100%;
    text-align: center;

  }

  &--img {
    .projects__image {
      margin-bottom: 0;
    }
  }

  @include media(tablet-wide) {
    padding: rem(86) 24px;

    &__image {
      height: auto;
    }
  }

  @include media(mobile-m) {
    &__add {
      margin-bottom: 24px;
    }

    &__image {
      margin-bottom: 40px;
    }
  }
}