@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.projects {
  $root: &;
  padding: rem(112) 0 rem(136);

  h2 {
    margin: 0 auto rem(64);
  }

  &__wrapper {
    margin-bottom: rem(64);
  }

  &__slide {
    max-width: 1128px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    transition: opacity 0.4s ease-in-out, scale 1.5s ease-in-out;
    opacity: .5;
    scale: 0.6;
  }

  &__slide.swiper-slide-active {
    opacity: 1;
    scale: 1;
  }

  &__slide.swiper-slide-next {
    translate: -17% -5%;
  }

  &__slide.swiper-slide-prev {
    translate: 17% -5%;
  }

  &__image {
    max-width: 1128px;
    width: 100%;
    margin-bottom: rem(64);
    border-radius: var(--radius-larger);
  }

  &__title {
    margin-bottom: 24px;
    font-size: clamp(20px, 1rem + 2vi, 30px);
  }

  &__add {
    margin-bottom: rem(64);
    font-size: clamp(18px, 1rem + 2vi, 24px);
  }

  &__title,
  &__add {
    max-width: 845px;
    width: 100%;
    text-align: center;

  }

  &--img {
    .projects__image {
      margin-bottom: 0;
    }
  }

  &--no-btn {
    .projects__add {
      margin-bottom: 0;
    }
  }

  @include media(tablet-wide) {
    padding: 40px 15px;

    &__image {
      height: auto;
      min-height: 380px;
    }
  }

  @include media(mobile-m) {
    &__add {
      margin-bottom: 24px;
    }

    &__image {
      margin-bottom: 40px;
    }
  }
}