@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

.request {
  $root: &;
  padding: rem(112) 0;

  h2 {
    margin: 0 auto 62px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 1216px;
    margin: 0 auto;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  label,
  input,
  textarea {
    display: block;
    width: 100%;
  }

  label {
    margin-bottom: 18.5px;
    color: var(--color-brown-700);
    font-size: 18px;
    font-weight: var(--fw-600);
    line-height: 1.35;
    letter-spacing: rem(0.2);

    span {
      color: var(--color-red-400);
    }
  }

  input,
  textarea {
    padding: 20px 16px;
    background: var(--color-cream-300);
    border-radius: var(--radius-main);
    color: var(--color-brown-500);
    font-weight: var(--fw-500);
    font-size: 18px;
    line-height: 1;
    height: 62px;

    &::placeholder {
      color: var(--color-gray-400);
      font-weight: var(--fw-400);
      letter-spacing: rem(0.2);
    }
  }

  textarea {
    min-height: 162px;
    resize: none;
    padding-top: 8px;
    border-color: transparent;
  }

  @include media(tablet) {
    padding: rem(86) 0;

    &__items {
      grid-template-columns: 1fr;
    }
  }
}