@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;


.reviews {
  padding: rem(112) 0 rem(214);

  h2 {
    margin: 0 auto rem(64);
  }

  &__slides {
    display: flex;
    justify-content: center;
    gap: 0 rem(48);
  }

  &__slide {
    max-width: 540px;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, auto);
    padding: 40px;
    background-color: var(--color-cream-300);
    border-radius: var(--radius-larger);
  }

  &__avatar {
    margin-bottom: 40px;
    max-width: 76px;
    width: 100%;
    border-radius: 50%;
  }

  svg {
    max-width: 192px;
    height: 32px;
    margin-bottom: 32px;
    align-self: start;
  }

  p {
    margin-bottom: 50px;
    letter-spacing: rem(0.3);
    line-height: 1.2;
  }

  h3 {
    font-size: clamp(22px, 1rem + 2vi, 30px);
    font-weight: var(--fw-600);
    letter-spacing: rem(0.5);
    color: var(--color-brown-700);
    align-self: end;
  }
}