@use "../utils/functions/"as*;
@use "../utils/mixins/"as*;

.services {

  .title__link {
    &:hover {
      border-bottom: 1px solid var(--color-brown-500);
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }

  img {
    border-radius: var(--radius-main);
    margin-bottom: 16px;
  }

  &__content {
    padding-block: 0 16px;
    padding-inline: 16px;
  }

  h3 {
    font-size: clamp(18px, 1rem + 2vi, 20px);
    margin-bottom: 12px;
  }

  &__text {
    margin-bottom: 32px;
    font-size: 18px;
  }
}