@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.team {
  overflow: hidden;
  padding: rem(70) 0 rem(152);
  text-align: center;

  h2 {
    margin: 0 auto 32px;
  }

  &__desc {
    margin-bottom: rem(64);
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 266px;
    width: 100%;
    padding: 20px;
    background-color: var(--color-cream-300);
    border-radius: var(--radius-larger);

    img {
      height: 267px;
      width: 100%;
      margin-bottom: 24px;
      border-radius: var(--radius-larger);
    }

    &:not(:last-of-type) {
      margin-right: 32px;
    }
  }

  &__name {
    display: inline-block;
    margin-bottom: 16px;
    font-weight: var(--fw-600);
    font-size: clamp(18px, 1rem + 1vi, 20px);
    line-height: 1.3;
    letter-spacing: rem(0.2);
    color: var(--color-brown-700);
  }

  @include media(tablet) {
    padding: rem(86) 0;

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
      justify-items: center;
    }

    &__item {
      &:not(:last-of-type) {
        margin-right: 0;
      }
    }
  }

  @include media(mobile-m) {
    &__list {
      grid-template-columns: 1fr;
    }

    &__item {
      max-width: 100%;

      img {
        height: auto;
      }
    }
  }
}